# TMDB_API_KEY: Key for TMDB API access
TMDB_API_KEY=d60f5b5a778fe74b5cf4a371f008725b

# Admin Founder Credentials
ADMIN_EMAIL=ronaldomazive915@gmail.com
ADMIN_PASSWORD=Tartarruga
ADMIN_SECURITY_CODE=200419

# Firebase Configuration
API_KEY_FIREBASE=AIzaSyDbU6FNY9lPlg4S14UF-xCG7JnYPa54pNY
FIREBASE_PROJECT_ID=playfilme
FIREBASE_APPLICATION_ID=1:159608197340:android:com.aistudio.playfilmeplus.app
FIREBASE_STORAGE_BUCKET=playfilme.appspot.com

# Gemini API Key
GEMINI_API_KEY=AIzaSyDbU6FNY9lPlg4S14UF-xCG7JnYPa54pNY


